@tailwind base;
@tailwind components;
@tailwind utilities;

.dots {
  display: flex;
  gap: 5px;
  font-size: 1.5rem;
  animation: blink 1s steps(5, start) infinite;
}

.dots span {
  display: inline-block;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
